 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

    <!-- MAP LIBRARIES : -->
    <!--  D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- TopoJson -->
    <script src="https://d3js.org/topojson.v2.min.js"></script>

    <!-- Scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="https://unpkg.com/simple-statistics@5.2.0/dist/simple-statistics.js"></script>

    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.3/d3-legend.js"></script>

    <script src="{{ "/js/d3-legend.min.js" | prepend: site.baseurl }}"></script>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">


    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
