<div class="container">

  <div class="row">
    <h2>Introduction</h2>
    <p align="justify">
      In past, the main source of information for people was their local newspaper,
      their radio or television newscast or even natural conversation.
      Information could take days to propagate in the whole world and then only few
      topics where selected and broadcasted by journalists. Because of that the awareness
      of people to world events was very limited, and it was virtually impossible to quantify
      or qualify the level of reaction to a specific event.
    </p>
    <p align="justify">
      Since then, we have seen the rise of Internet and Social Medias. The world has become so
      connected that people can virtually be aware of everything happening on the planet at any moment.
      As there is no limits to the availability of information anymore, one could think that people's
      awareness would have expanded. But it seems that people still feel only touched by events
      that are physically close or the ones where the victims are socially or culturally close.
      The <strong>awareness level</strong> might be linked to the empathy a country could have for another one.
    </p>
    <p>
      <strong>Question :</strong> Can we predict awareness to specific events in different countries around the globe ? Can we model the awareness using cultural metrics or simply using distance metrics between countries?
    </p>
  </div>


  <div class="row">
    <h2>I. Measuring awareness with tweets</h2>

    <p>
      By using twitter
    </p>
  </div>
  <div class="row">
    <h3>I.1. Case Study 1 - Events of similar amplitude </h3>
  </div>

  {% include map1.html %}

  <div class="row">
    <h3>I.2. Case Study 2 - Strong unbalance in Reactions </h3>
  </div>

  {% include map2.html %}

  <div class="row">
    <h2>II. Metrics - Modeling the awareness</h2>
    <p align="justify">
      Blah Blah Blah Metrics.
    </p>

    {% include metrics1.html %}




</div>
