  <!-- Map Section -->


  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div id="variable-select" style="padding: 20px;">
          <select id = "variable">
            <option value="Orlando">Orlando</option>
            <option value="Nigeria_2016">Nigeria</option>
            <option value="Bruxelles">Bruxelles</option>
            <option value="Istanbul">Istanbul</option>
            <option value="Pakistan">Pakistan</option>
          </select>
        </div>
        <div id="legend"></div>
      </div>

    </div>
  </div>
