  <!-- Map Section -->
  <div class="row">
    <div class="col-sm-10">
      <div id="radio1">
    <form>
      <input type="radio" name="normalized1" value="natural" checked style="margin: 0 5px 0 15px ;"> Raw Number of Tweets
      <input type="radio" name="normalized1" value="tweet_normalized" style="margin:  0 5px 0 15px ;"> Normalized By Average Number of Tweets
    </form>
  </div>

  </div>

  </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="map1"></div>
      </div>
    </div>
