  <!-- Map Section -->

    <div class="row">
      <div class="col-lg-12">
        <div id="map2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div id="variable-select" style="padding: 20px;">
          <select id = "event2">
            <option value="Charlie-Hebdo">Charlie Hebdo</option>
            <option value="Nigeria_2015">Nigeria</option>
            <option value="Lebanon">Lebanon</option>
          </select>
        </div>
        <div id="legend"></div>
      </div>

      <div class="col-sm-2">
        <div id="variable-select" style="padding: 20px;">
          <select id = "normalized2">
            <option value="tweet_normalized">Normalized By Tweets</option>
            <option value="natural">Not Normalized</option>
          </select>
        </div>
      </div>

    </div>
