  <!-- Map Section -->

  <div class="row">
    <div class="col-sm-12">
      <div id="radio3">
    <form>
      <input type="radio" name="metric" value="language" checked style="margin: 0 5px 0 15px ;"> Language Distance
      <input type="radio" name="metric" value="real_distance" style="margin:  0 5px 0 15px ;"> Real Distance
      <input type="radio" name="metric" value="hop_distance" style="margin:  0 5px 0 15px ;"> Hop Distance
      <input type="radio" name="metric" value="religion_distance" style="margin:  0 5px 0 15px ;"> Religion Distance
      <input type="radio" name="metric" value="flight_distance" style="margin:  0 5px 0 15px ;"> Percentage of outbound flights
      <input type="radio" name="metric" value="neib_distance" style="margin:  0 5px 0 15px ;"> Relative Importance of Neighbors
    </form>
  </div>

  </div>

  </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="metric"></div>
      </div>
    </div>
